.quote-box {
    margin: 0 10%;
    padding: 4%;
}

.horizontal-img {
    width: 100%;
    height: 30vh;
    margin: 2% 0;
}

.vertical-img-box {
    display: flex;
    justify-content: center;
    margin: 3% 0;
}

.vertical-img {
    margin: 0 7%;
    width: 40%;
}

.ant-anchor-link-title {
    font-size: 1.3rem !important;
}