.people-box {
    padding-bottom: 10%;
}

.people-rounded-grey {
    border: #F3F3F3 3px solid;
    background-color: #F3F3F3;
    border-radius: 20px;
    margin: 0;
    padding: 2% 0;
}

.card-grid-size {
    width: 100%;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 0.5%;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 2px black;
}

.card-img {
    width: 12vw;
    /* max-height: 20vh; */
    padding: 5%;

    display: block;
    margin: 0 auto;
    /* width: 12vw; */
    height: 200px;
    object-fit: cover; /* crops to fill the space */
    object-position: center; /* center of image */
    /* padding: 5%; */

}

.card-btn-center {
    margin: auto;
}

.btn-center {
    justify-content: center;
    width: 100%;
}

.btn-center button {
    background-color: white;
    border: 1px solid black;
}


.btn-space {
    margin: 1% 2%;
    background-color: none;
}

.modal {
    width: 30vw;
}

.modal-img {
    width: 15vw;
    margin: auto;
    padding: 2% 0;
}

.info-title {
    font-size: 2.1rem;
    padding-top: 3%;
}

.info-name {
    font-size: 1.5rem;
}

.info-username {
    font-size: 1.1rem;
    font-style: italic;
}

.short-hr {
    margin: auto;
    width: 70%;
    padding: 1% 0;
}

.icon-box {
    display: flex;
    width: 100%;
    justify-content: center;
}

.icon {
    width: 10%;
    margin: 3% 5%;
}

.box-space {
    padding-bottom: 2%;
}

