#root {
  margin: 0 auto;
}

.main-grid {
  display: grid;
  grid-template-columns: 15vw 70vw 15vw;
}

.white-bg {
  background-color: white;
  width: 100%;
  height: 100%;
  margin-top: 100vh;
}

main {
  padding-top: 2%;
  width: 100%;
  font-size: 1.1rem;
  background-color: white;
  z-index: 1;
  margin-top: 100vh;
  position: relative;
}

h1 {
  color: #FF8419;
  text-align: center;
  margin: 3% 0;
}

.rounded-box-orange {
  border: #FF8419 3px solid;
  border-radius: 20px;
  padding: 0 20px;
  background-color: white;
}

.home-img {
  width: 100vw;
  padding: 0 !important;
  max-height: 100vh;
  margin-bottom: 2%;
}

.hero-img 
{
  background-image: url("./assets/homeImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 0;
}

.ant-anchor-wrapper {
  padding: 20%;
  position: sticky;
  top: 20px;
}

.ant-anchor-link-title {
  font-size: 1.2rem; 
}

