@{
    ViewData["Title"] = "Home Page";
}

<!-- Taken from: https://css-tricks.com/snippets/css/typewriter-effect/ -->
<!-- edited some of it -->
<div class="tv">
    <div>
        <p class="numbers">1</p>
        <p class="numbers">2</p>
        <p class="numbers">3</p>
        <p class="numbers">4</p>
        <p class="numbers">5</p>
        <p class="numbers">6</p>
        <p class="numbers">7</p>
        <p class="numbers">8</p>
    </div>
    <div>
        <!--DO NOT format below else it'll mess up the text typed out-->
 <pre id="typewriter">
<span class="string-highlight type-size">String RIT = 
    """
    Leveraging
        Technology
            To
        Solve
    Problems
    """;</span></pre>
    </div>
</div>

